/*▓██████████████████████████████████████████████████████████████████████████████▓█████
▒▒▓█▒██▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀██▒█▓▒▒▒▒▒
░░▓█░██          MOBILE FIRST DESIGN: APPLIES TO ALL RESOLUTIONS             ██░█▓░░░░░
░░▓█░██          You Can Overide These Veriables in the Folowing             ██░█▓░░░░░
▒▒▓█▒██▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄ "@media sections" ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄██▒█▓▒▒▒▒▒
▓▓▓█▓██████████████████████████████████████████████████████████████████████████▓█▓▓▓▓▓▓ */

:root {
/*
▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
░░░░▓ FONT BASICS ▓░░░░
░░░░▓█████████████▓░░░░ */
    --font-body:    'Poppins', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;     
    --font-head:    var(--font-body); /* This is here for other themes *
/*
▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
░░░░▓ Font Weight ▓░░░░
░░░░▓█████████████▓░░░░             */
    --fw-regu: 300;     /* Regular  */
    --fw-medi: 400;     /* Medium   */
    --fw-bold: 600;     /*   Bold   */
/*
▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
░░░░▓░░░░ Font Sizes ░░░░░▓░░░ LINE HEIGHTS ░░▓░░░░
░░░░▓█████████████████████▓███████████████████▓░░░░
    ╔╾┈┈VARIABLE┈┈╼╤╾SIZE╼╤╾┈┈VARIABLE┈╼╤╾┈LH╼╗         */
    --font-size-900: 32px; --font-lh-900: 40px;             /* ***      H1, H2    *** */
    --font-size-800: 30px; --font-lh-800: 40px; 
    --font-size-700: 26px; --font-lh-700: 30px;             /* ***  h3, .card h4  *** */
    --font-size-600: 22px; --font-lh-600: 28px;             /* ***  .postfeed h4  *** */
    --font-size-500: 22px; --font-lh-500: 26px;             /* ***  a.button.big  *** */
/*▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
    --font-size-400: 20px; --font-lh-400: 26px; /* ROOT */  /*  body, p, li, ul, ol   */ 
/*▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
    --font-size-300: 20px; --font-lh-300: 24px; 
    --font-size-200: 18px; --font-lh-200: 30px; 
    --font-size-150: 16px; --font-lh-150: 20px; 
    --font-size-100: 16px; --font-lh-100: 18px; 
    --font-size-50:  11px; --font-lh-50:  16px;    
 /*
▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
░░░░▓░░░░ HEX COLOR VAIRABLES ░░░░▓░░░░░░░░ RGBA PREP COLORS ░░░░░░░░░░▓░░░░
░░░░▓█████████████████████████████▓████████████████████████████████████▓░░░░
    ╔╾VARIABLE NAME┈╼╤╾COLOR HEX┈╼╤╾┈┈VARIABLE NAME┈┈┈╼╤╾ R┈╼╤╾┈G╼╤╾B╼╗ */
    --brand-black    : #000000; --brand-black-rgb    :   0,   0,   0;
    --brand-white    : #FFFFFF; --brand-white-rgb    : 255, 255, 255;
 /* 0000╔╾┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈PRIMARY┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈╼╗ */
    --primary        : #280071; --primary-rgb-rgb    :  40,   0, 113;
    --primary-dark   : #010044; --primary-dark-rgb   :   1,   0,  44;
    --primary-light  : #5B2FA0; --primary-light-rgb  :  91,  47, 160;
 /* ╔╾┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈SECONDARY┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈╼╗ */
    --secondary      : #69B3E7; --secondary-rgb      : 105, 179, 231;
    --secondary-dark : #2F84B5; --secondary-dark-rgb :  47, 132, 181;
    --secondary-light: #9EE5FF; --secondary-light-rgb: 158, 229, 255;
 /* ╔╾┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈ACCENT┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈╼╗ */
    --accent         : #8ED6DB; --accent-rgb         : 142, 214, 219;
    --accent-dark    : #67BFC6; --accent-dark-rgb    : 103, 191, 198;
    --accent-light   : #B4ECF0; --accent-light-rgb   : 180, 236, 240;
 /* ╔╾┈┈┈┈┈┈┈┈┈┈┈┈BACKGROUND┈┈┈LAYERING┈┈┈FRAMEWORK┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈╼╗ */
    --bg-layer-100   : #F7F6FA; --bg-layer-100-rgb   : 247, 246, 250;
    --bg-layer-200   : #F4F3F8; --bg-layer-200-rgb   : 244, 243, 248;
    --bg-layer-300   : #F1EFF6; --bg-layer-300-rgb   : 241, 239, 246;
    --bg-layer-400   : #ECE8F3; --bg-layer-400-rgb   : 236, 232, 243;
    --bg-layer-500   : #EEEBF5; --bg-layer-500-rgb   : 238, 235, 245;
    --bg-layer-600   : #E9E5F1; --bg-layer-600-rgb   : 233, 229, 241; 
 /* ╔╾┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈SYSTEM/ENVIRONMENT┈┈┈VARIABLES┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈╼╗ */
   --ec-neutral: #CECFCB;  --ec-success: #00A38D;  --ec-fail: #D11257; 
/* 
▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄ 
░░░░▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ FONTS  COMPUTED ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░▓░░░░ 
░░░░▓█████████████████████████████████████████████████████████████████████████████████████▓░░░░ 
    ╔╾┈┈CSS┈┈╼╤╾┈Font Weight┈╼╤╾┈┈┈┈┈Font Size┈┈┈┈┈╼╤╾┈┈┈┈Line Height┈┈┈╼╤╾┈Font Family┈┈╼╗ */
    --font-900: var(--fw-bold) var(--font-size-900) / var(--font-lh-900) var(--font-body);
    --font-800: var(--fw-bold) var(--font-size-800) / var(--font-lh-800) var(--font-body);
    --font-700: var(--fw-bold) var(--font-size-700) / var(--font-lh-700) var(--font-body);
    --font-600: var(--fw-bold) var(--font-size-600) / var(--font-lh-600) var(--font-body);
    --font-500: var(--fw-bold) var(--font-size-500) / var(--font-lh-500) var(--font-body);
    --font-400: var(--fw-regu) var(--font-size-400) / var(--font-lh-400) var(--font-body);  /* Root/Body/P Size */
    --font-300: var(--fw-medi) var(--font-size-300) / var(--font-lh-300) var(--font-body);
    --font-200: var(--fw-bold) var(--font-size-200) / var(--font-lh-200) var(--font-body);
    --font-150: var(--fw-regu) var(--font-size-150) / var(--font-lh-150) var(--font-body);
    --font-100: var(--fw-bold) var(--font-size-100) / var(--font-lh-100) var(--font-body);
    --font-50:  var(--fw-medi) var(--font-size-50)  / var(--font-lh-50)  var(--font-body);
/*
▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄ 
░░░░▓░░░░░░░░░░ CONTAINERS AND SPACING ░░░░░░░░░░▓░░░░ 
░░░░▓████████████████████████████████████████████▓░░░░ 
    ╔╾┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈Spacers┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈╼╗          */
    --spacer-unit : 8px ;                                   /*    8px */  /*MAIN*/  /*** BASE UNIT ***/
    --spacer-xxs  : calc(var(--spacer-unit) *  2 );         /*   16px */  /*MAIN*/  /* Container Margin, Inner-Container Padding */
    --spacer-xs   : calc(var(--spacer-unit) *  3);          /*   24px */            /* Grid-Gap */
    --spacer-s    : calc(var(--spacer-unit) *  4);          /*   32px */  /*MAIN*/  /*          */
    --spacer-ms   : calc(var(--spacer-unit) *  6);          /*   48px */
/*▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬*/
    --spacer-m    : calc(var(--spacer-unit) *  8); /*  64px */            /*MAIN*/  /* Section-Top Padding, Section-Bottom Padding */
/*▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬*/
    --spacer-ml   : calc(var(--spacer-unit) * 12);          /*  96px */            
    --spacer-l    : calc(var(--spacer-unit) * 16);          /* 128px */   /*MAIN*/  
    --spacer-xl   : calc(var(--spacer-unit) * 24);          /* 192px */             /* Base Unit for Max width Math */
    --spacer-xxl  : calc(var(--spacer-unit) * 32);          /* 256px */   /*MAIN*/  
 /* ╔╾┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈MARGIN┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈╼╗          */
 /* ╔╾┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈PADDING┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈╼╗          */
    --section-gap            : var(--spacer-m);
    --grid-gap               : var(--spacer-xs);
 /* ╔╾┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈CONTAINERS┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈╼╗          */
    --container-hSpace       : 0px var(--spacer-xxs);       /* Outer-container Margin, Inner-Container Padding*/
    --container-maxWidth     : calc(var(--spacer-xl) * 9);  /* ** 1728px ** */
    --innerContainer-maxWidth: calc(var(--spacer-xl) * 7);  /* ** 1344px ** */
 /* ╔╾┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈BUTTONS┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈╼╗          */
    --btn                    : var(--font-h3);              /* Redo */
    --btn-pad                : 4px 8px;                     /* Redo */
}
/*  ⬆⬆⬆⬆ BETWEEN 0PX-479PX WIDE ⬆⬆⬆⬆ FOR AVERAGE PHONES ⬆⬆⬆⬆═══╗
    ⬇⬇⬇⬇⬇⬇⬇ ABOVE 480px WIDE ⬇⬇⬇⬇⬇⬇⬇⬇ GO TO BIG PHONES ⬇⬇⬇⬇⬇   ╚⭈⭈⭈NOTE: ALL STYLES ABOVE CONTINUE TO APPLY, OVERRULE THEM WITH OTHER CSS IF NEEDED.     
▓▓██████████████████████████████████████████████████████████████████████
▓▓██ BIG Phones ████ GALAXY NOTE SERIES ████ GALAXY FOLD TAB/PHONE █████▓▓
▓▓██████████████████████████████████████████████████████████████████████▓▓
▓▓██ OLDER GALAXY S SERIES ████ PIXEL XLs ████ MANY ROOTED ANDROIDS ████▓▓
▓▓██████████████████████████████████████████████████████████████████████▓▓
@media(min-width:480px) { }

/*  ⬆⬆⬆⬆ Between 0PX-767PX WIDE ⬆⬆⬆⬆ FOR SMALL PHONES ⬆⬆⬆⬆═══╗
    ⬇⬇⬇⬇⬇⬇⬇ Above 768PX WIDE ⬇⬇⬇⬇⬇⬇⬇⬇ GO TO TABLETS  ⬇⬇⬇⬇⬇   ╚⭈⭈⭈NOTE: ALL STYLES ABOVE CONTINUE TO APPLY, OVERRULE THEM WITH OTHER CSS IF NEEDED.     
▓▓████████████████████████████████████████████████████████████
▓▓████████ TABLETS ████ PHABLETS ████ TRANSFORMER DEVICES ████▓▓
▓▓████████████████████████████████████████████████████████████▓▓ */
@media(min-width:768px) {
    :root { /* 
▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
░░░░░░░░▓░░░░░ Font Sizes ░░░░░░▓░░ Line Heights ░░░░▓░░░░░░░░
░░░░░░░░▓███████████████████████▓████████████████████▓░░░░░░░░
        ╔╾┈┈VARIABLE┈┈╼╤╾┈SIZE┈╼╤╾┈┈VARIABLE┈╼╤╾┈LH┈╼╗      */
        --font-size-900:  36px; --font-lh-900 :  44px;
        --font-size-800:  32px; --font-lh-800 :  44px;
        --font-size-700:  28px; --font-lh-700 :  36px;
        --font-size-600:  22px; --font-lh-600 :  32px;
        --font-size-500:  22px; --font-lh-500 :  28px;
/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
        --font-size-400:  20px; --font-lh-400 :  28px; /* ROOT */ /* Thise is the center value we are working from */
/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
        --font-size-300:  20px; --font-lh-300 :  24px;
        --font-size-200:  18px; --font-lh-200 :  40px;
        --font-size-150:  16px; --font-lh-150 :  20px;
        --font-size-100:  16px; --font-lh-100 :  18px;
        --font-size-50 :  11px; --font-lh-50  :  16px;
    }
}
/*  ⬆⬆⬆⬆ Between 0PX-991PX WIDE ⬆⬆⬆⬆ FOR ALL PHONES ⬆⬆⬆⬆═══╗
    ⬇⬇⬇⬇⬇⬇⬇ Above 992PX WIDE ⬇⬇⬇⬇⬇⬇⬇⬇ GO TO LAPTOPS ⬇⬇⬇⬇   ╚⭈⭈⭈NOTE: ALL STYLES ABOVE CONTINUE TO APPLY, OVERRULE THEM WITH OTHER CSS IF NEEDED.     
▓▓███████████████████████████████████████████████████████████████████████
▓▓████████ BIG TABLETS ████ SMALL LAPTOPS ████ TRANSFORMER DEVICES ██████▓▓
▓▓███████████████████████████████████████████████████████████████████████▓▓
▓▓████████ NORMAL LAPTOPS EMULATED RESOLUTION ████ MACBOOK AIR ██████████▓▓
▓▓███████████████████████████████████████████████████████████████████████▓▓ */
@media(min-width:992px) { }

/*  ⬆⬆⬆⬆ Between 0PX-1159PX WIDE ⬆⬆⬆⬆ FOR ALL MOBILE ⬆⬆⬆⬆⬆═══╗
    ⬇⬇⬇⬇⬇⬇⬇ Above 1200PX WIDE ⬇⬇⬇⬇⬇⬇⬇⬇ GO TO LAPTOPS ⬇⬇⬇⬇⬇   ╚⭈⭈⭈NOTE: ALL STYLES ABOVE CONTINUE TO APPLY, OVERRULE THEM WITH OTHER CSS IF NEEDED.     
▓▓█████████████████████████████████████████████████████████████████████████████████████████████████████
▓▓████████ MACBOOK PRO ████ HD DISPLAY IN EMULATED RESOLUTION MODE ████ 720P MONITORS ████ 720P TVs ███▓▓
▓▓█████████████████████████████████████████████████████████████████████████████████████████████████████▓▓
▓▓████████ 720i TVs ████ GAME CONSOLES ON TV ████ IMAC 2.5K ████ SOME IMAC 4Ks ████ MOST LAPTOPS███████▓▓
▓▓█████████████████████████████████████████████████████████████████████████████████████████████████████▓▓ */
@media (min-width:1200px) {
    :root {/* 
▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
░░░░░░░░▓░░░░░ Font Sizes ░░░░░░▓░░░ Line Heights ░░░▓░░░░░░░░
░░░░░░░░▓███████████████████████▓████████████████████▓░░░░░░░░
        ╔╾┈┈VARIABLE┈┈╼╤╾┈SIZE┈╼╤╾┈┈VARIABLE┈╼╤╾┈LH┈╼╗ */
        --font-size-900:  48px; --font-lh-900 :  56px;
        --font-size-800:  40px; --font-lh-800 :  56px; 
        --font-size-700:  32px; --font-lh-700 :  48px;
        --font-size-600:  24px; --font-lh-600 :  36px;
        --font-size-500:  24px; --font-lh-500 :  32px;
/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
        --font-size-400:  20px; --font-lh-400 :  32px; /* ROOT */ /* Thise is the center value we are working from */
/* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
        --font-size-300:  20px; --font-lh-300 :  24px; 
        --font-size-200:  18px; --font-lh-200 :  40px;
        --font-size-150:  16px; --font-lh-150 :  20px;
        --font-size-100:  16px; --font-lh-100 :  18px;
        --font-size-50 :  11px; --font-lh-50  :  16px;
    }
}
/*  ⬆⬆⬆⬆ Between 0PX-1499PX WIDE ⬆⬆⬆⬆ FOR ALL MOBILE AND MOST LAPTOPS ⬆⬆⬆⬆⬆═══╗
    ⬇⬇⬇⬇⬇⬇⬇ Above 1500PX WIDE ⬇⬇⬇⬇⬇⬇⬇ GO TO HIGH RESOLUTION PRODUCTS ⬇⬇⬇⬇⬇⬇   ╚⭈⭈⭈NOTE: ALL STYLES ABOVE CONTINUE TO APPLY, OVERRULE THEM WITH OTHER CSS IF NEEDED.
▓▓████████████████████████████████████████████████████████████████████████████████████████████████
▓▓████████ ALL UHD ████ IMAC 5K ████ 5K TV █████ 2.5K TV or monitor █████ ULTRAWIDE MONITOR ██████▓▓
▓▓████████████████████████████████████████████████████████████████████████████████████████████████▓▓
▓▓████████ 1920x1080 | FHD | 1080p ████ 4K TV ████████ Full HD DEVICES DEFAULT DISPLAY MODE ██████▓▓
▓▓████████████████████████████████████████████████████████████████████████████████████████████████▓▓ */
@media (min-width:1499px) { }

/*  ⬆⬆⬆⬆ Between 0PX-1499PX WIDE ⬆⬆⬆⬆ FOR ALL MOBILE AND MOST LAPTOPS ⬆⬆⬆⬆⬆═══╗
    ⬇⬇⬇⬇⬇⬇⬇ Above 1500PX WIDE ⬇⬇⬇⬇⬇⬇⬇ GO TO HIGH RESOLUTION PRODUCTS ⬇⬇⬇⬇⬇⬇   ╚⭈⭈⭈NOTE: ALL STYLES ABOVE CONTINUE TO APPLY, OVERRULE THEM WITH OTHER CSS IF NEEDED.
▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
▓▓████████ HELPER FOR ULTRAWIDES ONLY ██████████████████████████████████████████████████████████████
▓▓▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀ */
@media (aspect-ratio:22/9) { }

/*███████████████████████████████████████████████████████████████████████████████████████
▒▒▓█▒██▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀██▒█▓▒▒▒▒▒▒▒
░░▓█░██                     START ASSIGNING VARIABLES                        ██░█▓░░░░░░░
░░▓█░██                   TO ELEMENTS/CLASSES/SELECTORS                      ██░█▓░░░░░░░
▒▒▓█▒██▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄██▒█▓▒▒▒▒▒▒▒
▓▓▓█▓██████████████████████████████████████████████████████████████████████████▓█▓▓▓▓▓▓▓▓ */
/* 
▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
░░░░▓░░░░░ UNIVERSAL OVERIDES ░░░░░▓░░░░
░░░░▓██████████████████████████████▓░░░░ */
html, body          { margin          :0;          padding:0;    width:100%;     }
ul                  { list-style-type : none;      padding:0;                    }
img                 { max-width       : 100%;                                    }
main                { max-width       : 100%;                                    } /*will figure this out */
div,span,p,li,
ul,a,section,
aside,main          { box-sizing      : border-box;                              }
a,a:hover,
a:focus,a:active    { text-decoration : none      ; color:inherit;               }
/*
▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
▓░░░░░░░░ VARIABLES ░░░░░░░░ VARIABLES ░░░░░░░░ VARIABLES ░░░░░░░░ VARIABLES ░░░░░░░░ VARIABLES ░░░░▓
▓░░░░░░░░  APPLIED  ░░░░░░░░  APPLIED  ░░░░░░░░  APPLIED  ░░░░░░░░  APPLIED  ░░░░░░░░  APPLIED  ░░░░▓
▓███████████████████████████████████████████████████████████████████████████████████████████████████▓

█████████████████████████████████████████████████████████████████████████████████████████████████████ 
▓░░░░░░░░░░░░░░░░░░░░░░░░░░░ FONT COLORS WEIGHTS SIZES AND LINEHEIGHTS ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░▓ 
▓███████████████████████████████████████████████████████████████████████████████████████████████████▓ 
╔╾CORE CLASSES/ELEMENTS┈╼╤╾ASSIGN COMPOUND FONT┈╼╤╾┈┈┈┈┈┈┈┈┈┈SET COLOR┈┈┈┈┈┈┈┈┈╼╤╾┈┈┈┈┈┈┈SET FONT WEIGHT┈┈┈┈┈┈┈┈╼╗                                                              */

.font-900, h1, h2        { font : var(--font-900); color : var(--primary-dark)  ;                                }
.font-800                { font : var(--font-800); color : var(--primary-dark)  ;                                }
.font-700, h3, .card h4  { font : var(--font-700); color : var(--primary-dark)  ;                                }
.font-600, .postfeed h4  { font : var(--font-600); color : var(--primary-dark)  ;                                }
.font-500, a.button.big  { font : var(--font-500); color : var(--primary-dark)  ;                                }
.font-400,
body, p, li, ul, ol      { font : var(--font-400); color : var(--brand-black)   ;                                }
.font-300                { font : var(--font-300); color : var(--brand-black)   ;                                }
.font-200                { font : var(--font-200); color : var(--brand-black)   ;                                }
.font-150                { font : var(--font-150); color : var(--brand-black)   ;                                }
.font-100, a.button,
a.readmore               { font : var(--font-100); color : var(--primary-dark)  ;                                }
.font-50                 { font : var(--font-50);  color : var(--primary-dark)  ;                                }
.span.question           {                         color : var(--primary-dark)  ;  font-weight : var(--fw-bold); }
input::placeholder       {                         color : var(--secondary-light);                               }
.nav li a                { font : var(--font-100); color : var(--brand-white)  ;                                }

/*
██████████████████████████████████████
▓░░  SECTION DEFAULTS AND SECTION  ░░▓
▓░░   UTILITY CLASSES(OVERRIDES)   ░░▓
▓████████████████████████████████████▓                                                                                           */
/*╾┈┈┈┈┈┈┈┈GAP┈BETWEEN┈SECTIONS┈┈┈┈┈╼╗ */
section { 
    padding-top: var(--section-gap);
    padding-bottom: var(--section-gap);
}
/*╾┈KILL┈THE┈GAP┈BETWEEN┈SECTIONS┈┈┈╼╗ */
section.nogap {                       /* Kill Both */
    padding-top:0px;  padding-bottom:0px;
}
section.nogap-top{   padding-top:   0px;}   /* Kill Top */
section.nogap-bottom{padding-bottom:0px;}   /* Kill Bottom */

/*╾┈DARK┈SECTIONS:┈Invert┈Text┈Color╼╗ */
section.darkbg h1,
section.darkbg h2,
section.darkbg h3,
section.darkbg h4,
section.darkbg h5,
section.darkbg h6,
section.darkbg p ,
section.darkbg a:not(.button),
section.darkbg a:not(.button):hover,
section.darkbg a:not(.button):focus,
section.darkbg a:not(.button):active,
section.darkbg .font-100,
section.darkbg .font-300 { 
    color:var(--bg-layer-100);
    
}
/* Added by Paurush */
.darkbg {
  background-color: var(--primary);
    color:var(--bg-layer-100);

}
/* 
███████████████████████████████████████████
░░░░▓░░ BUTTONS AND BUTTON VARIENTS ░░▓░░░░
░░░░▓█████████████████████████████████▓░░░░
╔╾┈┈┈┈┈CLASSES┈╼╤╾┈┈┈┈┈┈┈┈┈┈BACKGROUND┈COLOR┈┈┈┈┈┈┈┈┈┈┈┈╼╤╾┈┈┈┈┈┈┈┈┈┈┈┈BORDER┈COLOR ┈┈┈┈┈┈┈┈┈┈┈╼╤╾┈┈BORDER┈RADIUS┈┈┈╼╤╾┈┈┈┈BORDER┈WIDTH┈┈┈┈┈┈╼╗              */
.button         { background-color : var(--primary)      ; border-color : var(--primary)        ; border-radius : 5px; border-width : 2px;    }
.button.type_01 { background-color : var(--primary-light); border-color : var(--primary-light)  ;                                             }
.button.type_02 { background-color : var(--bg-layer-600) ; border-color : var(--bg-layer-600)   ;                                             }
.button.type_03 { background-color : var(--secondary) ; border-color : var(--secondary)         ; border-radius : 5px;                        }


/* 
███████████████████████████████████████████████████
░░░░▓░░ PSUDO ELEMENTS ::BEFORE AND ::AFTER ░░▓░░░░
░░░░▓█████████████████████████████████████████▓░░░░ 
╔╾┈┈┈┈┈SELECTORS┈┈┈┈┈┈┈┈┈┈┈╼╤╾┈┈┈FONT┈FAMILY┈/┈ICON┈SET┈┈┈┈┈┈┈┈┈╼╤╾┈ CHOOSE┈YOUR┈ICON┈┈┈┈╤╾┈┈DISPLAY┈SETTING┈┈┈┈┈┈┈╼╤╾┈┈┈┈FONT┈SIZE┈┈┈┈┈┈╼╤╾┈┈┈┈┈POSITION┈SETTING┈┈┈┈╼╗              */
a.readmore::after           {   font-family : Font Awesome 5 Free;  Content : "/#3333"   ;  display : inline-block  ;  font-size : inherit;  position    :   relative;}
/* 
███████████████████████████████████████████████████████████
░░░░▓░░ CONTAINER/INNERCONTAINER/POSITIONER CLASSES ░░▓░░░░
░░░░▓█████████████████████████████████████████████████▓░░░░ 
╔╾┈┈┈┈┈┈┈┈┈┈┈┈UNIVERSAL┈CONTAINER┈SETUP┈┈┈┈┈┈┈┈┈┈╼╗              */
.container, .inner-container {
    display:    block;
    width:      100%;
    display:    flex;
    margin:     0 auto;
    padding:    0 var(--spacer-xxs);
    box-sizing: border-box;
}
/*╾┈┈┈┈┈┈┈┈┈┈┈┈┈CONTAINER┈SETUP┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈╼╗              */
.container {
    max-width: var(--container-maxWidth);
}
/*╾┈┈┈┈┈┈┈┈INNER┈CONTAINER┈SETUP┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈╼╗              */
.inner-container{
    max-width:var(--innerContainer-maxWidth);
}
/*▃▃▃▃▃▃▃
▓▓▓ UNSORTED ▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */
h2, h3 {margin-bottom:4px;}
h2+p,h3+p {margin-top:unset;}
h2 {margin-bottom:24px; text-align: center;}
nav {
    width:100%;
    background: var(--primary);
    padding:var(--spacer-xs) 0 ;
  }
section.NavBar {
    position: sticky;
    top:0px;
}
.question, .category {
    color:var(--primary);
}

li:active .answer,li:hover .answer, li:focus .answer {
    height:200px;
}
.answer {
    height:0px;
    overflow:hidden;
    transition:500ms;
    background:green;
    display:inline-block;
}
/* Paurush */

/* Dev Shit */
.devh .container, .devh .inner-container, .devh section, .devh main, .devh a {
    border:4px dashed black ;  
}
.devh section           {border-color:green !important;}
.devh a                 {border-color:red !important;}
.devh .container        {border-color:orange !important;}
.devh .inner-container  {border-color:yellow !important;}
.devh main              {border-color:lightgreen !important;}

.devh *:has(>a) {
    border-color:purple !important;
}